<div class="badge custom-circle bg-primary fs-6">
  <% case furry.fursona %>
    <% when "cat" %>
      <%= "ðŸ±" %>
    <% when "puppy" %>
      <%= "ðŸ¶" %>
    <% when "wolf" %>
      <%= "ðŸº" %>
    <% when "panda" %>
      <%= "ðŸ¼" %>
    <% when "raccoon" %>
      <%= "ðŸ¦" %>
    <% else %>
      <%= "ðŸ¤¡" %>
  <% end %>
</div>
