<div class="badge custom-circle bg-primary fs-6">
  <% case furry.fursona %>
    <% when "Cat" %>
      <%= "ðŸ±" %>
    <% when "Puppy" %>
      <%= "ðŸ¶" %>
    <% when "Wolf" %>
      <%= "ðŸº" %>
    <% when "Panda" %>
      <%= "ðŸ¼" %>
    <% when "Raccoon" %>
      <%= "ðŸ¦" %>
    <% else %>
      <%= "ðŸ¤¡" %>
  <% end %>
</div>
