<h1>Furries#index</h1>
<p>Find me in app/views/furries/index.html.erb</p>
<% @furries.each do |furrie| %>
  <h1><%= link_to furrie.name, furry_path(furrie) %></h1>
  <%= furrie.description %>
  <%= furrie.price %>
  <%= furrie.fursona %>
  <%= furrie.availability %>
<% end %>
