<%= render "navbar" %>
<div class="container" id="index-container">
    <div class="content">
      <div class="row">
            <% @furries.each do |furry| %>
                <div class="furries-card">
                  <div class="image">
                    <%= cl_image_tag furry.photo.key, height: 400, width: 400, crop: :fill %>
                  </div>
                  <div class="content">
                    <div class="categories">
                      <div class="badge">
                          <div class="badge-base">
                            <div class="text"><%= furry.fursona%></div>
                          </div>
                      </div>
                    </div>
                    <div class="heading-and-text">
                      <div class="heading-and-icon">
                        <div class="heading"><%= furry.name %></div>
                        <div class="icon-wrap">
                          <%= link_to furry_path(furry) do %>
                            <i class="fa-solid fa-up-right-from-square" style="color: #7743db;"></i>
                          <% end %>
                        </div>
                      </div>
                      <p class="content-text">
                        <%= furry.description %>
                      </p>
                      <div class="price"><%= furry.price.to_i%> Euros</div>
                    </div>
                  </div>
                </div>
            <% end %>
      </div>
    </div>
    <div class="pagination">
          <button class="button">
            <button class="button-base">
              <div class="text">Logout</div>
            </button>

          </button>
          <button class="button">
            <div class="div">
              <div class="text">Dashboard</div>
            </div>
          </button>
        </div>
</div>
