<h1>Furries#index</h1>
<p>Find me in app/views/furries/index.html.erb</p>
<%= @furries.each do |furrie| %>

<%= furrie.name %>
<%= furrie.description %>
<%= furrie.price %>
<%= furrie.fursona%>
<%= furrie.availability%>

<% end %>
