

<h1>Furries#index</h1>
<div class="header">
      <div class="logo">
        <img class="chip" src="img/chip.svg" />
        <div class="warm-furries">warm &amp; furries</div>
      </div>
      <div class="text-input">
        <img class="search" src="img/search.svg" />
        <div class="value">notworkingcurrently</div>
      </div>
      <div class="btn-padding">
        <div class="button-title btn-text"><%= link_to "Dashboard", new_user_session_path  %></div>
      </div>
      <div class="btn-padding">
        <div class="button-title btn-text"><%= link_to "Sign In" , new_user_session_path  %></div></div>
      </div>
    </div>

<div class="container" id="index-container">
    <div class="content">
      <div class="row">
            <% @furries.each do |furrie| %>
                <div class="furries-card">
                  <div class="image">
                    <%# <%= cl_image_tag furrie.photo.key, crop: :fill %>
                  </div>
                  <div class="content">
                    <div class="categories">
                      <div class="badge">
                          <div class="badge-base">
                            <div class="text"><%= furrie.fursona%></div>
                          </div>
                      </div>
                    </div>
                    <div class="heading-and-text">
                      <div class="heading-and-icon">
                        <div class="heading"><%= furrie.name %></div>
                        <div class="icon-wrap">
                          <%= link_to furry_path(furrie) do %>
                            <i class="fa-solid fa-up-right-from-square"></i>
                          <% end %>
                        </div>
                      </div>
                      <p class="content-text">
                        <%= furrie.description %>
                      </p>
                      <div class="price"><%= furrie.price.to_i%> Euros</div>
                    </div>
                  </div>
                </div>
            <% end %>
      </div>
    </div>
    <div class="pagination">
          <button class="button">
            <button class="button-base">
              <div class="text">Logout</div>
            </button>

          </button>
          <button class="button">
            <div class="div">
              <div class="text">Dashboard</div>
            </div>
          </button>
        </div>
</div>
