<h1>Furries#show</h1>
<p>Find me in app/views/furries/show.html.erb</p>

<div class="container show-page">
  <div class="info-furrie col-6">
    <div col-6><img src="https://i.pinimg.com/474x/4f/d7/e5/4fd7e523ce3fd34735bb913ef2cba52a.jpg" alt=""></div>
    <div>
        <h1><%= @furrie.name %></h1>
        <h3 class="text-muted"><%= @furrie.fursona %></h3>
        <%= @furrie.description %>
      <div>
        <h5>Price per night: <%= @furrie.price %> € </h5>
      </div>
      <br>
    <div class="p-6 form-show">
      <%= render "bookings/form", booking: @booking, furrie: @furrie %>
  </div>
</div>
