<div class="container">
<div class="d-flex" id="show-page" justify-items-space-around>
  <div class="info-furry d-flex">
    <div class="px-3 col-6">
      <%= cl_image_tag @furry.photo.key, height: 400, width: 400, crop: :fill %>
    </div>
      <div class="d-flex flex-column">
        <div class="furry-description col-9">
          <div class="d-inline-block m-3">
            <h1><%= @furry.name %></h1>
          </div>
          </div>
             <p><%= @furry.description %></p>
              <div>
                <h5><%= @furry.price.to_i %> <i class="fa-solid fa-euro-sign"></i> p. day</h5>
              </div>
                <br>
                <br>
                <p>Energy
                <% @furry.energy.times do %>
                  <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                <% end %>
                <% (5 - @furry.energy).times do %>
                  <i class="fa-regular fa-star" style="color: #ffd43b;"></i>
                <% end %>
                </p>
                <p>Cuddleable
                <% @furry.cuddleable.times do %>
                  <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                <% end %>
                <% (5 - @furry.cuddleable).times do %>
                  <i class="fa-regular fa-star" style="color: #ffd43b;"></i>
                <% end %>
                </p>
                <p>Tough Love
                <% @furry.tough_love.times do %>
                  <i class="fa-solid fa-star" style="color: #ffd43b;"></i>
                <% end %>
                <% (5 - @furry.tough_love).times do %>
                  <i class="fa-regular fa-star" style="color: #ffd43b;"></i>
                <% end %>
                </p>
            <div class="book-card">
              <div class="p-6 form-show col-6">
                <%= render "bookings/form", booking: @booking, furry:@furry %>
              </div>
            </div>

        </div>
      </div>
  </div>
</div>
</div>
