<h1>Furries#show</h1>
<p>Find me in app/views/furries/show.html.erb</p>
<h1><%= @furrie.name %></h1>
  <%= @furrie.description %>
  <%= @furrie.price %>
  <%= @furrie.fursona %>
  <%= @furrie.availability %>
