<div class="container" id="show-page">
  <div class="d-flex info-furry justify-content-around">
    <div class="px-3 col-6">
      <%= cl_image_tag @furry.photo.key, height: 400, width: 400, crop: :fill %>
      <%# <img src="https://i.pinimg.com/474x/4f/d7/e5/4fd7e523ce3fd34735bb913ef2cba52a.jpg" alt=""> %>
    </div>
      <div class="d-flex flex-column">
        <div class="furry-description col-9">
            <h1><%= @furry.name %></h1>
              <h3><%= @furry.fursona %></h3>
            <p><%= @furry.description %></p>
          <div>
            <h5><%= @furry.price.to_i %><i class="fa-solid fa-euro-sign"></i> p. day</h5>
          </div>
            <br>
            <br>
        </div>
      <div class="p-6 form-show col-6">
        <%= render "bookings/form", booking: @booking, furry:@furry%>
      </div>
    </div>
  </div>
</div>
