<%= render "shared/navbar"%>
<div id= "dashboard">
  <h1 >My Bookings</h1>
  <% @mybookings.each do |booking| %>
    <div class="notification">
  <div> <%=cl_image_tag booking.furry.photo.key, height: 80, width: 80, crop: :fill%> </div>
  <div class="notification-content">
    <div>
      <p><small><%= booking.start_date %> - <%= booking.end_date %></small></p>
      <p style="<%= booking.rejected? ? 'color: rgba(255, 0, 0, 0.5);' : 'color: rgba(0, 255, 0, 0.5);' %>"><%= booking.furry.name %></p>
    </div>
    <h2 class="total-cost"><%=booking.total_cost%>Euros</h2>
  </div>

  <div class="notification-actions">
    <%= render "booking_status", booking: booking %>
    <a href="">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>
  <% end %>

  <h1>My furries that have been booked</h1>

  <%if !@my_furries_bookings.nil? %>

    <%= render "cards_booked_furries", my_furries_bookings: @my_furries_bookings%>

  <% else %>
    <h3>No bookings yet .. try spicing up your profile<h3>
  <%end%>

</div>
